.contact-jumbotron {
   background-image: url("../../assets/img/background/background.webp");
   background-size: cover;
   background-repeat: no-repeat;
 }
 
.a{
  background-color: rgba(142, 142, 142, 0.747);
}