.img-resize {
   width: 10em;
 }

 .experience{
   height: auto;
   width: auto;
 }
 
 .style {
   font-size: 25px;
   color: white;
 }
 
 .jumbo-style {
  background-image: radial-gradient(circle, #b7bacb, #868e98, #586065, #35393a, #101212);
 }
 
 .body-title-style {
   font-size: 25px;
   font-weight: 800;
 }
 .div {
    cursor: pointer ;
 }
 /* .div:hover{
    
 } */

 .a{
  background-color: rgba(142, 142, 142, 0.747);
 }

 .strong{
   color: black;
 }